<h1>Pandas DataFrames</h1>

![pandas](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/2880px-Pandas_logo.svg.png)

<p><img src="https://cdn-images-1.medium.com/max/1600/1*oBx032ncOwLmCFX3Epo3Zg.jpeg" alt="I have no idea what I'm doing panda" /></p>

<p><span style="font-size: 14pt; color: #e67e23;"><strong>Pandas</strong> is a <strong>Python library</strong> made for working with <strong>data</strong> that can be coerced into <strong>rows</strong> and <strong>columns</strong> (i.e. think Excel, CSVs,...).&nbsp;</span></p>
<ul>
<li><span style="font-size: 14pt; color: #e67e23;"><strong>Fast</strong> and efficient for <strong>manipulating</strong> and <strong>analyzing data.</strong></span></li>
<li><span style="font-size: 14pt; color: #e67e23;">Easy <strong>handling</strong> of <strong>missing data</strong> (represented as NaN) in floating point as well as non-floating point data</span></li>
<li><span style="font-size: 14pt; color: #e67e23;">Size mutability: <strong>columns</strong> can be <strong>inserted</strong> and <strong>deleted</strong> from <strong>DataFrame</strong> and higher dimensional objects</span></li>
<li><span style="font-size: 14pt; color: #e67e23;">Data set <strong>merging</strong> and <strong>joining</strong></span></li>
<li><span style="font-size: 14pt; color: #e67e23;">Provides <strong>time-series</strong> functionality.</span></li>
<li><span style="font-size: 14pt; color: #e67e23;">Built on <strong>top</strong> of <strong>Numpy</strong></span></li>
</ul>

<p><span style="color: #e67e23; font-size: 18.6667px;">The image below shows the steps in a Data Analytics or Data Science project</span></p>

![images/data-anl.png](images/data-anl.png)

<div style="border: 1px solid blue; padding: 10px">
<p><span style="font-size: 14pt; color: #e67e23;">As the image below shows, most of the steps can be completed using Pandas.&nbsp; For Data Science projects, Pandas outputs can be directly input to the various SKlearn and Kera libraries, though a little reshaping may be needed.&nbsp;</span></p>
</div>

<img src="images/data-anal-steps-2.jpeg"  style="width:90%;height:80%">

<img src="images/panda.jpeg" style="width:300px;height:300px">

<div style="border: 1px solid blue; padding: 10px;">
<p><span style="font-size: 14pt; color: #e67e23;">Python's <strong>Pandas</strong> is <strong>almost</strong> as <strong>good</strong> as actually having your <span style="color: #236fa1;"><em><strong>own Panda</strong></em>!</span></span></p>
<p>&nbsp;</p>
</div>

<div style="border: 1px solid blue; padding: 10px;">
<p><span style="font-size: 14pt; color: #e67e23;">Before you can <strong>use</strong> <strong>Pandas</strong>, you must <strong>install</strong> the library.&nbsp;&nbsp;</span></p>
<p><span style="font-size: 14pt; color: #e67e23;"><a href="https://pandas.pydata.org/docs/getting_started/install.html" target="_blank" rel="noopener">https://pandas.pydata.org/docs/getting_started/install.html</a></span></p>
<p><span style="font-size: 14pt; color: #e67e23;">Conda</span></p>
<p><span style="color: #e67e23;"><strong><em><span style="font-size: 14pt;">conda install pandas</span></em></strong></span></p>
<p><span style="font-size: 14pt; color: #e67e23;">Pip</span></p>
<p><span style="color: #e67e23;"><strong><em><span style="font-size: 14pt;">pip install pandas</span></em></strong></span></p>
</div>

In [1]:
# Import - using the common alias
import pandas as pd  # pd  is an alias to the panadas library and is industry standard

## Accessing Data

![pandas documentation image showcasing the kinds of data it can both read and write to](https://pandas.pydata.org/docs/_images/02_io_readwrite.svg)

[[Image Source]](https://pandas.pydata.org/docs/getting_started/intro_tutorials/02_read_write.html)

<div style="border: 1px solid blue; padding: 10px;">
<p><span style="font-size: 14pt; color: #e67e23;"><strong>Pandas</strong> can <strong>access</strong> a ton of different <strong>data types</strong>, including some that should be familiar: <strong>CSVs, JSONs </strong>and <strong>SQL</strong> database tables! That's right, no more <code>with</code> / <code>open</code> statements now that we're using pandas!</span></p>
<p><span style="font-size: 14pt; color: #e67e23;">Pandas can also <em>output</em> <strong>different</strong> data <strong>formats</strong>, including <strong>CSVs</strong> and directly to <strong>SQL tables</strong>.</span></p>
<ul>
<li><span style="font-size: 14pt; color: #e67e23;"><a style="color: #e67e23;" href="https://pandas.pydata.org/docs/reference/io.html" target="_blank" rel="noopener">https://pandas.pydata.org/docs/reference/io.html</a></span></li>
</ul>
</div>

<div style="border: 1px solid blue; padding: 10px;">
<p><span style="font-size: 14pt; color: #e67e23;">Most of the time, we'll see CS</span><span style="font-size: 14pt; color: #e67e23;">Vs - so let's&nbsp;<strong>access</strong>&nbsp;a&nbsp;<strong>'toy'</strong>&nbsp;data set quickly just to familiarize ourselves with using pandas. There's a heart dataset available in the data folder on this repository - let's read that in.</span></p>
<p><span style="font-size: 14pt; color: #e67e23;"><strong>Toy </strong>datasets are usually <strong>small</strong> <strong>datasets</strong> used for <strong>developing</strong> and testing certain <strong>coding techniques&nbsp;</strong></span></p>
</div>

In [4]:
# Use read_csv to read in the heart csv file
# Need to assign it to a variable too - let's call this heart_df
heart_df = pd.read_csv('data/heart.csv')

<div style="border: 1px solid blue; padding: 10px;">
<p><span style="font-size: 14pt; color: #e67e23;">Find out more about this dataset <a style="color: #e67e23;" href="https://archive.ics.uci.edu/ml/datasets/Statlog+%28Heart%29" target="_blank" rel="noopener">here</a>.</span></p>
</div>

<div style="border: 1px solid blue; padding: 10px;">
<p><span style="font-size: 14pt; color: #e67e23;">The <strong>output</strong> of the <code>.<strong>read_csv()</strong></code> function (and all of the .read_xxx functions)&nbsp; is a pandas <span style="color: #e03e2d;"><strong><em>&nbsp;<a href="https://www.w3schools.com/python/pandas/pandas_dataframes.asp#:~:text=What%20is%20a%20DataFrame%3F,table%20with%20rows%20and%20columns.">DataFrame</a></em></strong></span>, which has a familiar tabaular structure of <strong>rows</strong> and <strong>columns</strong>.</span></p>
<p><span style="font-size: 14pt; color: #e67e23;">In the case above, we have captured the returned dataframe and stored it in variable <em>heart_df</em></span></p>
</div>

<h2>#.head()</h2>

<div style="border: 1px solid blue; padding: 10px">
<p><span style="color: #e67e23;">The</span><span style="font-size: 18.6667px;">&nbsp;</span><a style="font-size: 18.6667px;" href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html" target="_blank" rel="noopener">.head()</a><span style="font-size: 18.6667px;">&nbsp;</span><span style="color: #e67e23;">function</span><span style="font-size: 18.6667px;">&nbsp;</span><span style="color: #e67e23;">displays the first 5 rows of the dataframe.&nbsp; You can input an argument to display more rows.&nbsp; .head(10) will display the first 10 rows.</span></p>
</div>

In [5]:
# Let's check this variable out
heart_df.head()

   age  sex  chol  slope  target
0   37    1   250      0       1
1   41    0   204      2       1
2   56    1   236      2       1
3   57    0   354      2       1
4   57    1   192      1       1

In [7]:
# you turn.... print the first 20 rows
heart_df.head(1000)

     age  sex  chol  slope  target
0     37    1   250      0       1
1     41    0   204      2       1
2     56    1   236      2       1
3     57    0   354      2       1
4     57    1   192      1       1
..   ...  ...   ...    ...     ...
297   57    0   241      1       0
298   45    1   264      1       0
299   68    1   193      1       0
300   57    1   131      1       0
301   57    0   236      1       0

[302 rows x 5 columns]

In [8]:
# What type is this variable?
type(heart_df)

pandas.core.frame.DataFrame

<h2>DataFrames and Series</h2>

<div style="border: 1px solid blue; padding: 10px;">
<p><span style="font-size: 14pt; color: #e67e23;">Two <strong>main</strong> types of <strong>pandas</strong> <strong>objects</strong> are the <strong>DataFrame</strong> and the <a href="https://www.w3schools.com/python/pandas/pandas_series.asp" target="_blank" rel="noopener"><strong>Series</strong></a>, the latter being in effect a single column of the former:</span></p>
</div>

<img src="images/df-1.png">

<div style="border: 1px solid blue; padding: 10px;">
<p><span style="font-size: 14pt; color: #e67e23;">The individual <strong>columns</strong> are Pandas Data <strong>Series</strong>. Each <strong>row</strong> has an indentifier, similar to the column names, which is called the <a href="https://pandas.pydata.org/docs/user_guide/indexing.html" target="_blank" rel="noopener">index</a> and can be used to <strong>identify</strong> each <strong>row</strong>.</span></p>
<p><span style="font-size: 14pt; color: #e67e23;">Note indexes will be discussed more later.</span></p>
</div>

<div style="border: 1px solid blue; padding: 10px">
<p><span style="font-size: 14pt; color: #e67e23;">Notice how we can <strong>isolate</strong> a <strong>column</strong> of our DataFrame simply by using <strong>square brackets</strong> together with the <strong>name</strong> of the <strong>column.</strong> </span></p>
<p><span style="font-size: 14pt; color: #e67e23;">We can also access columns as an <strong>attribute</strong> of the <strong>DataFrame</strong> - but that only works if the name of the column <strong>doesn't have any spaces</strong> or weird characters!</span></p>
</div>

In [10]:
# prefered method
#print(heart_df["age"])

# attribute method... I suggest not using this method!   
print(heart_df.age)

0      37
1      41
2      56
3      57
4      57
       ..
297    57
298    45
299    68
300    57
301    57
Name: age, Length: 302, dtype: int64

## Basic DataFrame Attributes and Methods

<p><span style="font-size: 14pt; color: #e67e23;"><strong>Dataframes</strong> have <strong>attributes</strong> and <strong>methods</strong>, both of which can be <strong>very</strong> <strong>useful</strong>.&nbsp;</span></p>
<p><span style="font-size: 14pt; color: #e67e23;"><span style="color: #e03e2d;"><strong>Attributes</strong></span> are <strong>characteristics</strong> or <strong>properties</strong> that describe the <strong>contents</strong> of the <strong>dataframe</strong>.</span></p>
<p><span style="font-size: 14pt; color: #e67e23;"><span style="background-color: #e03e2d;"><strong>Methods</strong></span> are <strong>functions</strong> that perform some sort of <strong>action</strong> on the <strong>dataframe</strong> or individual <strong>series</strong>, like <strong>computing</strong> a mean or max for the <strong>values</strong> in a <strong>column.</strong>&nbsp;</span></p>
<p><span style="font-size: 14pt; color: #e67e23;">A listting of the various attributes and methods can be found <a style="color: #e67e23;" href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html" target="_blank" rel="noopener">https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html</a></span></p>

<img src="images/attmeth.png" style="height:70%">

<h3 id=".head()-:-first-5-rows"><code>.head()</code> : first 5 rows</h3>
<p><span style="font-size: 14pt;">or&nbsp;</span></p>
<p><span style="font-size: 14pt;">.head(n) will print the first n rows (i.e. .head(100) will print the first 100 rows</span></p>

In [11]:
heart_df.head()

   age  sex  chol  slope  target
0   37    1   250      0       1
1   41    0   204      2       1
2   56    1   236      2       1
3   57    0   354      2       1
4   57    1   192      1       1

<h3 id=".tail()-:-last-5-rows"><code>.tail()</code> : last 5 rows&nbsp;</h3>
<p>or&nbsp;</p>
<p>.tail(n) will print the last n rows</p>

In [16]:
heart_df.tail(20)

     age  sex  chol  slope  target
282   40    1   223      2       0
283   61    1   207      2       0
284   46    1   311      1       0
285   59    1   204      2       0
286   57    1   232      2       0
287   57    1   335      1       0
288   55    0   205      1       0
289   61    1   203      2       0
290   58    1   318      0       0
291   58    0   225      1       0
292   67    1   212      1       0
293   44    1   169      0       0
294   63    1   187      2       0
295   63    0   197      1       0
296   59    1   176      1       0
297   57    0   241      1       0
298   45    1   264      1       0
299   68    1   193      1       0
300   57    1   131      1       0
301   57    0   236      1       0

### `.info()` : information about the columns, including about nulls in those columns

In [17]:
heart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302 entries, 0 to 301
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     302 non-null    int64
 1   sex     302 non-null    int64
 2   chol    302 non-null    int64
 3   slope   302 non-null    int64
 4   target  302 non-null    int64
dtypes: int64(5)
memory usage: 11.9 KB

### `.describe()` : statistics about the data

In [18]:
heart_df.describe()

              age         sex        chol       slope      target
count  302.000000  302.000000  302.000000  302.000000  302.000000
mean    54.337748    0.682119  246.307947    1.403974    0.543046
std      9.083509    0.466426   51.911129    0.611939    0.498970
min     29.000000    0.000000  126.000000    0.000000    0.000000
25%     47.250000    0.000000  211.000000    1.000000    0.000000
50%     55.000000    1.000000  240.500000    1.000000    1.000000
75%     61.000000    1.000000  274.750000    2.000000    1.000000
max     77.000000    1.000000  564.000000    2.000000    1.000000

### `.dtypes` : data types of each column

In [19]:
heart_df.dtypes
#print(heart_df.info())

age       int64
sex       int64
chol      int64
slope     int64
target    int64
dtype: object

### `.shape` : number of rows and columns

In [20]:
heart_df.shape

(302, 5)

In [21]:
(nrows,ncols) = heart_df.shape
print(nrows,ncols)
len(heart_df) # Not Recommended

302 5

<h3 id=".shape-:-number-of-rows-and-columns"><code>.columns</code>&nbsp;: return columns is a list</h3>

In [24]:
# look at columns
cols = heart_df.columns

for col in cols:
    print(col)

age
sex
chol
slope
target

<img src="images/oven.jfif">

<p><span style="font-size: 24pt; color: #ba372a;">Lets Practice</span></p>
<p><span style="font-size: 24pt; color: #ba372a;">Lets read file : data/toy_dataset.csv</span></p>

In [25]:
# read file into dataframe
toy_df = pd.read_csv("data/toy_dataset.csv")

In [28]:
# let at head and tail of file
toy_df.head(10)
print(toy_df.tail())

        Number    City  Gender  Age    Income Illness
149995  149996  Austin    Male   48   93669.0      No
149996  149997  Austin    Male   25   96748.0      No
149997  149998  Austin    Male   26  111885.0      No
149998  149999  Austin    Male   25  111878.0      No
149999  150000  Austin  Female   37   87251.0      No

In [30]:
# compute some stats
toy_df.describe()

              Number            Age         Income
count  150000.000000  150000.000000  150000.000000
mean    75000.500000      44.950200   91252.798273
std     43301.414527      11.572486   24989.500948
min         1.000000      25.000000    -654.000000
25%     37500.750000      35.000000   80867.750000
50%     75000.500000      45.000000   93655.000000
75%    112500.250000      55.000000  104519.000000
max    150000.000000      65.000000  177157.000000

In [32]:
# get the shape
toy_df.shape

(150000, 6)

In [33]:
# look at columns
toy_df.columns

Index(['Number', 'City', 'Gender', 'Age', 'Income', 'Illness'], dtype='object')

<p><span style="font-size: 24pt; color: #ba372a;">More Practice....&nbsp;</span></p>
<p><span style="font-size: 24pt; color: #ba372a;">Lets read file : data/jordan_playoffs.csv</span></p>

In [ ]:
# read file into dataframe

In [ ]:
#  Look at first 10 and last 10 records

In [ ]:
# compute stats

In [ ]:
# look at columns

## Statistics

<div style="border: 1px solid blue; padding: 10px;">
<p><span style="font-size: 14pt; color: #e67e23;">We saw some <strong>statistics</strong> <strong>computed</strong> above, in the <strong>.describe()</strong>, but we can also <strong>calculate</strong> statistics by calling them <strong>individually</strong></span></p>
<p><span style="color: #e67e23;"><span style="font-size: 18.6667px;"><strong>Here are the Pandas Stats functions</strong></span></span></p>
<p><span style="color: #e67e23;"><span style="font-size: 18.6667px;"><strong>count()<span style="white-space: pre;"> </span></strong>Number of non-null observations</span></span>
<br>
<span style="color: #e67e23;"><span style="font-size: 18.6667px;"><strong>sum()<span style="white-space: pre;"> </span></strong>Sum of values</span></span>
<br>
<span style="color: #e67e23;"><span style="font-size: 18.6667px;"><strong>mean()<span style="white-space: pre;"> </span></strong>Mean of Values</span></span>
<br>
<span style="color: #e67e23;"><span style="font-size: 18.6667px;"><strong>median()<span style="white-space: pre;"> </span></strong>Median of Values</span></span>
<br>
<span style="color: #e67e23;"><span style="font-size: 18.6667px;"><strong>mode()<span style="white-space: pre;"> </span></strong>Mode of values</span></span>
<br>
<span style="color: #e67e23;"><span style="font-size: 18.6667px;"><strong>std()<span style="white-space: pre;"> </span></strong>Standard Deviation of the Values</span></span>
<br>
<span style="color: #e67e23;"><span style="font-size: 18.6667px;"><strong>min()<span style="white-space: pre;"> </span></strong>Minimum Value</span></span>
<br>
<span style="color: #e67e23;"><span style="font-size: 18.6667px;"><strong>max()<span style="white-space: pre;"> </span></strong>Maximum Value</span></span>
<br>
<span style="color: #e67e23;"><span style="font-size: 18.6667px;"><strong>abs()<span style="white-space: pre;"> </span></strong>Absolute Value</span></span>
<br>
<span style="color: #e67e23;"><span style="font-size: 18.6667px;"><strong>prod()<span style="white-space: pre;"> </span></strong>Product of Values</span></span>
<br>
<span style="color: #e67e23;"><span style="font-size: 18.6667px;"><strong>cumsum()<span style="white-space: pre;"> </span>
</strong>Cumulative Sum</span></span>
<br>
<span style="color: #e67e23;"><span style="font-size: 18.6667px;"><strong>cumprod()<span style="white-space: pre;"> </span></strong>Cumulative Product</span></span>
</div>

In [34]:
# Lets re-read out file, just to be certain!!
heart_df = pd.read_csv('data/heart.csv')

In [36]:
# Calculate the mean age, capture it in a variable
heart_df["age"].mean()
#print(mean_age)

54.33774834437086

In [37]:
# Now the min age
age_min = heart_df["age"].min()
age_min

29

In [40]:
# Lets compute the max for all the columns in the dataframe
heart_df.max()

age        77
sex         1
chol      564
slope       2
target      1
dtype: int64

In [41]:
## YOUR TURN
## Get the mean,min,max,median, sum and standard deviation for the heart_df dataframe for the "age" 
## column and "chol" column

## Do work below here ... reference the list of methods given above
med = heart_df["age"]. median()
std= heart_df["age"]. std()
tsum = heart_df["age"]. sum()
print(med,std,tsum)

55.0 9.083508781868359 16410

<div style="border: 1px solid blue; padding: 10px;">
<p><span style="font-size: 14pt; color: #e67e23;">Two things to note from the preceding examples.&nbsp; First, you can call <strong>stats functions</strong> on an <strong>individual column</strong> or the <strong>entire dataframe.</strong>&nbsp;</span></p>
<p><span style="font-size: 14pt; color: #e67e23;">Second, note when calling on <strong>all</strong> columns, for functions that <strong>require numbers,</strong> stats will only be computed for <strong>columns</strong> that <strong>are numbers.</strong>&nbsp;</span></p>
<p><span style="font-size: 14pt; color: #e67e23;"><strong>Major note</strong>: When reading in data, Pandas <strong>guesses</strong> at the <strong>data type</strong>, and is usually <strong>correct</strong>, however, at times, it can set a column full of <strong>numbers</strong> to an <strong>object</strong> or <strong>string</strong>, and then will <strong>not</strong> <strong>compute</strong> <strong>stats</strong> for it.&nbsp; In these cases, if the <strong>column</strong> really is <strong>numbers</strong>, you will need to <strong>convert</strong> the column to a float or int using <strong><a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.astype.html">.astype()</a></strong></span></p>
</div>

In [42]:
# What type is the column?
type(heart_df["age"])

pandas.core.series.Series

<div style="border: 1px solid blue; padding: 10px;">
<p><span style="font-size: 14pt; color: #e67e23;">Both Series and DataFrames have an <em>index</em> as well:</span></p>
</div>

In [43]:
# Lets see the index for the entire DataFrame
heart_df.index

RangeIndex(start=0, stop=302, step=1)

In [44]:
# Get the index for an individual Series (column)
heart_df["age"].index

RangeIndex(start=0, stop=302, step=1)

<div style="border: 1px solid blue; padding: 10px;"><span style="color: #e67e23;"><strong>DataFrames</strong> have <strong>columns</strong> - but a <strong>Series</strong> is just a single column, so it <strong>does not</strong> have the <strong>columns</strong> attribute</span>.</div>

In [45]:
heart_df.columns  # Dataframes have columns

Index(['age', 'sex', 'chol', 'slope', 'target'], dtype='object')

In [46]:
heart_df["sex"].columns  # But, Series DO NOT
# This will throw an error!

AttributeError: 'Series' object has no attribute 'columns'

<div style="border: 1px solid blue; padding: 10px;"><span style="font-size: 14pt; color: #e67e23;"><strong>Pandas</strong> is built on top of <strong>NumPy,</strong> and we can always access the <strong>NumPy array</strong> underlying a DataFrame using the <strong>.values</strong> <strong>attribute</strong></span></div>

In [47]:
# access ALL the values inthe dataframe
heart_df.values

array([[ 37,   1, 250,   0,   1],
       [ 41,   0, 204,   2,   1],
       [ 56,   1, 236,   2,   1],
       ...,
       [ 68,   1, 193,   1,   0],
       [ 57,   1, 131,   1,   0],
       [ 57,   0, 236,   1,   0]], dtype=int64)

In [50]:
# Access just one column

heart_df["chol"].values   # very useful!!

array([250, 204, 236, 354, 192, 294, 263, 199, 168, 239, 275, 266, 211,
       283, 219, 340, 226, 247, 239, 234, 233, 226, 243, 199, 302, 212,
       175, 417, 197, 198, 177, 219, 273, 213, 177, 304, 232, 269, 360,
       308, 245, 208, 264, 321, 325, 235, 257, 216, 234, 256, 302, 231,
       141, 252, 201, 222, 260, 182, 303, 265, 309, 186, 203, 211, 183,
       222, 234, 220, 209, 258, 227, 204, 261, 213, 250, 245, 221, 205,
       240, 250, 308, 318, 298, 265, 564, 277, 197, 214, 248, 255, 207,
       223, 288, 160, 226, 394, 233, 315, 246, 244, 270, 195, 240, 196,
       211, 234, 236, 244, 254, 325, 126, 313, 211, 262, 215, 214, 193,
       204, 243, 303, 271, 268, 267, 199, 210, 204, 277, 196, 269, 201,
       271, 295, 235, 306, 269, 178, 208, 201, 263, 295, 303, 209, 223,
       197, 245, 242, 240, 226, 180, 228, 149, 227, 278, 220, 197, 253,
       192, 220, 221, 240, 342, 157, 175, 175, 286, 229, 268, 254, 203,
       256, 229, 284, 224, 206, 167, 230, 335, 177, 276, 353, 225, 330,
       230, 243, 290, 253, 266, 233, 172, 305, 216, 188, 282, 185, 326,
       231, 254, 267, 248, 197, 258, 270, 274, 164, 255, 239, 258, 188,
       177, 229, 260, 219, 307, 249, 341, 263, 330, 254, 256, 407, 217,
       282, 288, 239, 174, 281, 198, 288, 309, 243, 289, 289, 246, 322,
       299, 300, 293, 304, 282, 269, 249, 212, 274, 184, 274, 409, 246,
       283, 254, 298, 247, 294, 299, 273, 309, 259, 200, 244, 231, 228,
       230, 282, 269, 206, 212, 327, 149, 286, 283, 249, 234, 237, 234,
       275, 212, 218, 261, 319, 166, 315, 204, 218, 223, 207, 311, 204,
       232, 335, 205, 203, 318, 225, 212, 169, 187, 197, 176, 241, 264,
       193, 131, 236], dtype=int64)

<p><span style="font-size: 24pt; color: #ba372a;">More Practice</span></p>
<p>&nbsp;</p>

In [58]:
# Lets re-read the toy dataset
jordan_df = pd.read_csv("data/jordan_playoffs.csv")

In [59]:
#  Look at the first 5 rows
jordan_df.head()

,game,date,series,series_game,team,opp,result,mp,fg,fga,...,orb,drb,trb,ast,stl,blk,tov,pts,game_score,plus_minus
0,1,1985-04-19,EC1,1,CHI,MIL,L (-9),44,7,19,...,1,3,4,10,3,0,1,23,21.5,NaN
1,2,1985-04-21,EC1,2,CHI,MIL,L (-7),43,9,17,...,1,3,4,12,2,0,7,30,24.3,NaN
2,3,1985-04-24,EC1,3,CHI,MIL,W (+2),42,12,26,...,3,5,8,7,4,1,3,35,28.2,NaN
3,4,1985-04-26,EC1,4,CHI,MIL,L (-8),42,6,16,...,2,5,7,5,2,3,4,29,24.3,NaN
4,1,1986-04-17,EC1,1,CHI,BOS,L (-19),43,18,36,...,0,4,4,2,2,1,5,49,29.3,NaN

In [60]:
# Lets compute some stats!
jordan_df.columns

Index(['game', 'date', 'series', 'series_game', 'team', 'opp', 'result', 'mp',
       'fg', 'fga', 'fgp', 'three', 'threeatt', 'threep', 'ft', 'fta', 'ftp',
       'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pts', 'game_score',
       'plus_minus'],
      dtype='object')

In [61]:
print(jordan_df["fg"].mean())
print(jordan_df["fga"].mean())

12.223463687150838
25.122905027932962

In [63]:
print(jordan_df["three"].mean())
print(jordan_df["threeatt"].mean())
print(jordan_df["three"].mean()/jordan_df["threeatt"].mean())

0.8268156424581006
2.4916201117318435
0.33183856502242154

<h2 id="Enough-With-The-Small-Stuff---Bring-On-Real-Data!">Enough With The Small Stuff - Bring On Real Data!</h2>
<p>Let's access an open data portal and get some real live data!</p>
<p>&nbsp;</p>
<p><span style="font-size: 24pt; color: #ba372a;">Your Turn</span></p>

Austin Animal Center Intake Data: https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm/

In [67]:
# Accessing a CSV from a URL!
intakes_url = pd.read_csv('https://data.austintexas.gov/resource/wter-evkm.csv')
#intakes_url.head()

In [75]:
intakes_url.head()

,animal_id,name,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A665644,NaN,2013-10-21T07:59:00.000,2013-10-21T07:59:00.000,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
1,A665739,*Alana,2013-10-22T11:11:00.000,2013-10-22T11:11:00.000,Austin (TX),Stray,Normal,Cat,Intact Female,1 month,Domestic Medium Hair Mix,Black
2,A665763,NaN,2013-10-22T15:10:00.000,2013-10-22T15:10:00.000,E Riverside Dr/Royal Crest Dr in Austin (TX),Stray,Normal,Dog,Intact Male,4 months,Cairn Terrier Mix,Tan/White
3,A379998,Disciple,2013-10-23T11:42:00.000,2013-10-23T11:42:00.000,51St And Grover in Austin (TX),Stray,Normal,Dog,Intact Male,10 years,Pit Bull,Black
4,A634503,Otter,2013-10-01T14:49:00.000,2013-10-01T14:49:00.000,Manor (TX),Owner Surrender,Normal,Dog,Spayed Female,2 years,Norfolk Terrier Mix,Tan

In [ ]:
# Same as the JSON output from this API endpoint, but different levels of detail for dates!
pd.read_json('https://data.austintexas.gov/resource/wter-evkm.json').head()

In [65]:
# But this is only 1000 rows... website says there's 136K rows!
intakes_url.shape

(1000, 12)

In [66]:
# It's a limitation of the API - let's just download the data instead
# It's in the data folder
df = pd.read_csv('data/Austin_Animal_Center_Intakes-clean-year.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'data/Austin_Animal_Center_Intakes-clean-year.csv'

In [ ]:
# Now let's explore those earlier attributes and methods on this dataset!
# Check the first 5 rows

In [ ]:
# Check the last 5 rows

In [ ]:
# Check the shape

In [ ]:
# Check the datatypes

In [ ]:
# Check more general information on the dataframe

In [ ]:
# Check summary/descriptive statistics on the dataframe

#### Any Observations?

- Just shows the 'Year' column - it's the only numeric column!

In [ ]:
# We can run describe on just the string columns! Gives a different kind of output
df.describe(include=[object])

<div style="border: 1px solid blue; padding: 10px;">
<h4 id="Any-Observations?"><span style="font-size: 14pt; color: #e67e23;">Any Observations?</span></h4>
<ul>
<li><span style="font-size: 14pt; color: #e67e23;">Can see non-null counts, number of uniques, plus the most frequent and how frequent it is</span></li>
<li><span style="font-size: 14pt; color: #e67e23;">Showcases the different kind of useful data you can explore when it's object vs numeric columns</span></li>
</ul>
</div>

## Adding to a DataFrame

### Adding Rows

<div style="border: 1px solid blue; padding: 10px;">
<p><span style="font-size: 14pt; color: #e67e23;">We have a <strong>new</strong> animal coming in, captured here in a Python <strong>dictionary</strong>:</span></p>
</div>

In [76]:
# Dictionary, where keys match the column names and values are the row values
# Note that the values are list-like - you could easily add more rows by adding to the lists!
next_row = {
    'animal ID': ['A851755'],
    'name': ["T'Challa"],
    'dateTime': ['2/28/2022 11:25:00 AM'],
    'year': [2022],
    'found Location': ['Houston (TX)'],
    'intake Type': ['Public Assist'],
    'intake Condition': ['Normal'],
    'animal Type': ['Cat'],
    'sex upon Intake': ['Neutered Male'],
    'age upon Intake': ['4 years'],
    'breed': ['Domestic Shorthair'],
    'color': ['Black']
}
next_row

{'animal ID': ['A851755'],
 'name': ["T'Challa"],
 'dateTime': ['2/28/2022 11:25:00 AM'],
 'year': [2022],
 'found Location': ['Houston (TX)'],
 'intake Type': ['Public Assist'],
 'intake Condition': ['Normal'],
 'animal Type': ['Cat'],
 'sex upon Intake': ['Neutered Male'],
 'age upon Intake': ['4 years'],
 'breed': ['Domestic Shorthair'],
 'color': ['Black']}

How can we add this to the bottom of our dataset?

In [77]:
# Let's first turn this into a DataFrame.
# We can use the .from_dict() method.

new_animal = pd.DataFrame.from_dict(next_row)
new_animal

,animal ID,name,dateTime,year,found Location,intake Type,intake Condition,animal Type,sex upon Intake,age upon Intake,breed,color
0,A851755,T'Challa,2/28/2022 11:25:00 AM,2022,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black

In [78]:
# Now we just need to concatenate the two DataFrames together.
# Note the `ignore_index` parameter! We'll set that to True.

df_augmented = pd.concat([intakes_url, new_animal],
                         ignore_index=True)

In [79]:
# Let's check the end to make sure we were successful!
df_augmented.tail()

,animal_id,name,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,...,color,animal ID,dateTime,year,found Location,intake Type,intake Condition,animal Type,sex upon Intake,age upon Intake
996,A656696,*Angel,2013-10-13T12:52:00.000,2013-10-13T12:52:00.000,Austin (TX),Owner Surrender,Normal,Cat,Spayed Female,2 years,...,Brown Tabby,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,A665285,Tabby,2013-10-15T18:19:00.000,2013-10-15T18:19:00.000,4807 Airport Blvd in Austin (TX),Stray,Normal,Cat,Intact Female,5 months,...,Torbie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,A665185,*Vince,2013-10-14T18:32:00.000,2013-10-14T18:32:00.000,Hwy 183/Burnet Rd in Austin (TX),Stray,Normal,Cat,Intact Male,3 weeks,...,Brown Tabby/White,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,A665572,NaN,2013-10-19T14:09:00.000,2013-10-19T14:09:00.000,900 Broken Feather Trl in Pflugerville (TX),Stray,Normal,Dog,Intact Male,1 year,...,White,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000,NaN,T'Challa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Black,A851755,2/28/2022 11:25:00 AM,2022.0,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years

### Adding (and Deleting) Columns

<div style="border: 1px solid blue; padding: 10px;">
<p><span style="color: #e67e23; font-size: 14pt;"><strong>Adding</strong> a <strong>column</strong> is very <strong>easy</strong> in <code>pandas</code>. Let's add a new column to our dataset called "test", and set all of its values to 0.</span></p>
</div>

In [80]:
jordan_df.head()

,game,date,series,series_game,team,opp,result,mp,fg,fga,...,orb,drb,trb,ast,stl,blk,tov,pts,game_score,plus_minus
0,1,1985-04-19,EC1,1,CHI,MIL,L (-9),44,7,19,...,1,3,4,10,3,0,1,23,21.5,NaN
1,2,1985-04-21,EC1,2,CHI,MIL,L (-7),43,9,17,...,1,3,4,12,2,0,7,30,24.3,NaN
2,3,1985-04-24,EC1,3,CHI,MIL,W (+2),42,12,26,...,3,5,8,7,4,1,3,35,28.2,NaN
3,4,1985-04-26,EC1,4,CHI,MIL,L (-8),42,6,16,...,2,5,7,5,2,3,4,29,24.3,NaN
4,1,1986-04-17,EC1,1,CHI,BOS,L (-19),43,18,36,...,0,4,4,2,2,1,5,49,29.3,NaN

In [83]:
# Create a new column, 'test', where every value in the col is None
jordan_df['test'] = 0

In [84]:
# Sanity check
jordan_df.head()

,game,date,series,series_game,team,opp,result,mp,fg,fga,...,drb,trb,ast,stl,blk,tov,pts,game_score,plus_minus,test
0,1,1985-04-19,EC1,1,CHI,MIL,L (-9),44,7,19,...,3,4,10,3,0,1,23,21.5,NaN,0
1,2,1985-04-21,EC1,2,CHI,MIL,L (-7),43,9,17,...,3,4,12,2,0,7,30,24.3,NaN,0
2,3,1985-04-24,EC1,3,CHI,MIL,W (+2),42,12,26,...,5,8,7,4,1,3,35,28.2,NaN,0
3,4,1985-04-26,EC1,4,CHI,MIL,L (-8),42,6,16,...,5,7,5,2,3,4,29,24.3,NaN,0
4,1,1986-04-17,EC1,1,CHI,BOS,L (-19),43,18,36,...,4,4,2,2,1,5,49,29.3,NaN,0

In [89]:
jordan_df["fgpp (%)"] = jordan_df["fg"]/jordan_df["fga"]*100

In [90]:

jordan_df.head()

,game,date,series,series_game,team,opp,result,mp,fg,fga,...,ast,stl,blk,tov,pts,game_score,plus_minus,test,fgpp,fgpp %
0,1,1985-04-19,EC1,1,CHI,MIL,L (-9),44,7,19,...,10,3,0,1,23,21.5,NaN,0,36.842105,36.842105
1,2,1985-04-21,EC1,2,CHI,MIL,L (-7),43,9,17,...,12,2,0,7,30,24.3,NaN,0,52.941176,52.941176
2,3,1985-04-24,EC1,3,CHI,MIL,W (+2),42,12,26,...,7,4,1,3,35,28.2,NaN,0,46.153846,46.153846
3,4,1985-04-26,EC1,4,CHI,MIL,L (-8),42,6,16,...,5,2,3,4,29,24.3,NaN,0,37.500000,37.500000
4,1,1986-04-17,EC1,1,CHI,BOS,L (-19),43,18,36,...,2,2,1,5,49,29.3,NaN,0,50.000000,50.000000

But we don't need that - let's drop that column.

In [91]:
# Drop that test column
jordan_df= jordan_df.drop(columns=['fgpp'])

In [92]:
# Sanity check
jordan_df.head()

,game,date,series,series_game,team,opp,result,mp,fg,fga,...,trb,ast,stl,blk,tov,pts,game_score,plus_minus,test,fgpp %
0,1,1985-04-19,EC1,1,CHI,MIL,L (-9),44,7,19,...,4,10,3,0,1,23,21.5,NaN,0,36.842105
1,2,1985-04-21,EC1,2,CHI,MIL,L (-7),43,9,17,...,4,12,2,0,7,30,24.3,NaN,0,52.941176
2,3,1985-04-24,EC1,3,CHI,MIL,W (+2),42,12,26,...,8,7,4,1,3,35,28.2,NaN,0,46.153846
3,4,1985-04-26,EC1,4,CHI,MIL,L (-8),42,6,16,...,7,5,2,3,4,29,24.3,NaN,0,37.500000
4,1,1986-04-17,EC1,1,CHI,BOS,L (-19),43,18,36,...,4,2,2,1,5,49,29.3,NaN,0,50.000000

We can also do math with columns, or use mathematical notation to combine columns even when they aren't numerical!

We don't have any numeric data in this current dataset. But we can still create a combined "Type" column that combines the values of our Intake Type and Animal Type columns.

In [ ]:
# Create a new column, 'Type', from the two 'Type' columns
df_augmented['Type'] = df_augmented['Intake Type'] + " " + df_augmented['Animal Type']

In [ ]:
# Sanity check 
df_augmented.head()

## Filtering

<div style="border: 1px solid blue; padding: 10px;">
<p><span style="font-size: 14pt; color: #e67e23;">We can use <strong>filtering techniques</strong> to see only <strong>certain rows</strong> of our data. Let's look at only animals taken into the center during or after 2020:</span></p>
<p>&nbsp;</p>
<p><span style="font-size: 14pt; color: #e67e23;">There are <strong>multiple techniques</strong> for <strong>filtering...</strong>&nbsp;</span></p>
<p><span style="font-size: 14pt; color: #e67e23;">.loc[] is more current</span></p>
</div>

In [93]:
df_agmented = intakes_url.copy()

In [94]:
df_augmented.head()

,animal_id,name,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,...,color,animal ID,dateTime,year,found Location,intake Type,intake Condition,animal Type,sex upon Intake,age upon Intake
0,A665644,NaN,2013-10-21T07:59:00.000,2013-10-21T07:59:00.000,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,...,Calico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A665739,*Alana,2013-10-22T11:11:00.000,2013-10-22T11:11:00.000,Austin (TX),Stray,Normal,Cat,Intact Female,1 month,...,Black,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A665763,NaN,2013-10-22T15:10:00.000,2013-10-22T15:10:00.000,E Riverside Dr/Royal Crest Dr in Austin (TX),Stray,Normal,Dog,Intact Male,4 months,...,Tan/White,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A379998,Disciple,2013-10-23T11:42:00.000,2013-10-23T11:42:00.000,51St And Grover in Austin (TX),Stray,Normal,Dog,Intact Male,10 years,...,Black,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A634503,Otter,2013-10-01T14:49:00.000,2013-10-01T14:49:00.000,Manor (TX),Owner Surrender,Normal,Dog,Spayed Female,2 years,...,Tan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
jordan_df.head()

,game,date,series,series_game,team,opp,result,mp,fg,fga,...,trb,ast,stl,blk,tov,pts,game_score,plus_minus,test,fgpp %
0,1,1985-04-19,EC1,1,CHI,MIL,L (-9),44,7,19,...,4,10,3,0,1,23,21.5,NaN,0,36.842105
1,2,1985-04-21,EC1,2,CHI,MIL,L (-7),43,9,17,...,4,12,2,0,7,30,24.3,NaN,0,52.941176
2,3,1985-04-24,EC1,3,CHI,MIL,W (+2),42,12,26,...,8,7,4,1,3,35,28.2,NaN,0,46.153846
3,4,1985-04-26,EC1,4,CHI,MIL,L (-8),42,6,16,...,7,5,2,3,4,29,24.3,NaN,0,37.500000
4,1,1986-04-17,EC1,1,CHI,BOS,L (-19),43,18,36,...,4,2,2,1,5,49,29.3,NaN,0,50.000000

In [104]:
jordan_df[jordan_df["pts"] >= 60]

,game,date,series,series_game,team,opp,result,mp,fg,fga,...,trb,ast,stl,blk,tov,pts,game_score,plus_minus,test,fgpp %
5,2,1986-04-20,EC1,2,CHI,BOS,L (-4),53,22,41,...,5,6,3,2,4,63,47.2,NaN,0,53.658537

In [ ]:
# Let's explore an interesting property of boolean columns...
# Find out the total sum of animals taken in during or after 2020..i.e. the total number of rows 
sum(df_augmented['Year'] >= 2020)

<div style="border: 1px solid blue; padding: 10px;">
<p><span style="font-size: 14pt; color: #e67e23;">But this only gives us True/False outputs... what if we want to really filter?</span></p>
</div>

### `.loc`

<div style="border: 1px solid blue; padding: 10px;">
<p><span style="font-size: 14pt; color: #e67e23;">We can locate and segment down to only rows where some condition is true using <code>.loc</code>. This takes in a condition, and only outputs the rows where that condition is True!</span></p>
<blockquote>
<p><span style="font-size: 14pt; color: #e67e23;"><strong>Note:</strong> locate (<code>.loc</code>) uses square brackets, not parentheses! Often, square brackets denote location-focused actions, like this one.</span></p>
</blockquote>
<ul>
<li><span style="font-size: 14pt; color: #e67e23;">df.loc[row,[columns]]</span></li>
</ul>
<p><span style="font-size: 14pt; color: #e67e23;">Let's try this first with the condition we just built, and locate all animals taken in during or after 2020.</span></p>
</div>

In [105]:
# Create a subset dataframe of animals taken in during or after 2020
subset_more40 = jordan_df.loc[jordan_df['pts'] >= 40]

In [112]:
#subset_more40.shape
subset_more40["pts"].std()

5.197178904299924

In [113]:
jordan_df.loc[jordan_df['pts'] >= 40]

C:\Users\CoJoe\AppData\Local\Temp\ipykernel_400\2096366652.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  jordan_df.loc[jordan_df['pts'] >= 40].mean()

game            7.894737
series_game     3.131579
mp             43.710526
fg             17.210526
fga            31.394737
fgp             0.554974
three           1.078947
threeatt        2.789474
threep          0.386621
ft             11.052632
fta            12.973684
ftp             0.855342
orb             1.578947
drb             4.815789
trb             6.394737
ast             5.289474
stl             2.210526
blk             1.236842
tov             3.263158
pts            46.552632
game_score     35.357895
plus_minus           NaN
test            0.000000
fgpp %         55.491362
dtype: float64

<div style="border: 1px solid blue; padding: 10px;">
<p><span style="font-size: 14pt; color: #e67e23;">We can <strong>select</strong> certain <strong>columns</strong> when we do this, by adding an <strong>argument after</strong> the <strong>condition:</strong></span></p>
</div>

In [114]:
subset_more40a = jordan_df.loc[jordan_df['pts'] >= 40,["fg","fga","pts"]]

In [116]:
subset_a = jordan_df.loc[:,["fg","fga","pts"]]

In [117]:
subset_a.head()

   fg  fga  pts
0   7   19   23
1   9   17   30
2  12   26   35
3   6   16   29
4  18   36   49

In [115]:
subset_more40a.head()

    fg  fga  pts
4   18   36   49
5   22   41   63
8   14   29   42
10  19   35   50
11  24   45   55

In [ ]:
# Let's return just the 'Animal ID', 'DateTime' and 'Type' columns
df_augmented.loc[df_augmented['Year'] >= 2020, ['Animal ID', 'DateTime', 'Type']]

# df.loc[row,[columns]]

<div style="border: 1px solid blue; padding: 10px;">
<p><span style="font-size: 14pt; color: #e67e23;">What if I want to segment using <strong>multiple conditions?</strong> Use <strong><code>&amp;</code></strong> for "and" and <strong><code>|</code></strong> for "or" - and use <strong>parentheses</strong> around <strong>individual conditions</strong>!</span></p>
</div>

In [120]:
subset_more40a = jordan_df.loc[(jordan_df['pts'] >= 40) & (jordan_df['fga'] < 20) ,["fg","fga","pts","ft","fta"]]

In [121]:
subset_more40a.head()

    fg  fga  pts  ft  fta
28  12   18   47  23   28

In [ ]:
# Find all the Stray Cats taken in during or after 2020
df_augmented.loc[(df_augmented['Year'] >= 2020) & (df_augmented['Type'] == 'Stray Cat'),["Year","Type"]]

<h2 id="Your-turn!">Our turn!</h2>

### Exercise 1

You need to find dogs that need extra attention - How would you find all dogs where the intake condition is NOT normal?

In [ ]:
# Your code here

### Exercise 2

You need to find animals that might need to be fixed - How would you find all animals that are either Intact Male or Intact Female?

In [ ]:
# Your code here

### `.iloc`

<div style="border: 1px solid blue; padding: 10px;">
<p><strong><code><span style="font-size: 14pt; color: #e67e23;">.iloc[]</span></code></strong><span style="font-size: 14pt; color: #e67e23;"><strong> </strong>is used for <strong>integer-location based indexing</strong>, aka locate by number. It can take in lists of numbers, python slices, or specific numbers - but sometimes it can be a bit tricky!</span></p>
</div>

In [122]:
jordan_df.head()

,game,date,series,series_game,team,opp,result,mp,fg,fga,...,trb,ast,stl,blk,tov,pts,game_score,plus_minus,test,fgpp %
0,1,1985-04-19,EC1,1,CHI,MIL,L (-9),44,7,19,...,4,10,3,0,1,23,21.5,NaN,0,36.842105
1,2,1985-04-21,EC1,2,CHI,MIL,L (-7),43,9,17,...,4,12,2,0,7,30,24.3,NaN,0,52.941176
2,3,1985-04-24,EC1,3,CHI,MIL,W (+2),42,12,26,...,8,7,4,1,3,35,28.2,NaN,0,46.153846
3,4,1985-04-26,EC1,4,CHI,MIL,L (-8),42,6,16,...,7,5,2,3,4,29,24.3,NaN,0,37.500000
4,1,1986-04-17,EC1,1,CHI,BOS,L (-19),43,18,36,...,4,2,2,1,5,49,29.3,NaN,0,50.000000

In [131]:
# Find the first 3 rows
jordan_df.iloc[0:10,1:4]

         date series  series_game
0  1985-04-19    EC1            1
1  1985-04-21    EC1            2
2  1985-04-24    EC1            3
3  1985-04-26    EC1            4
4  1986-04-17    EC1            1
5  1986-04-20    EC1            2
6  1986-04-22    EC1            3
7  1987-04-23    EC1            1
8  1987-04-26    EC1            2
9  1987-04-28    EC1            3

In [ ]:
# Same as using head(3)
df_augmented.head(3)

In [ ]:
# Can look exactly where the 0 index is
df_augmented.iloc[0]

In [ ]:
# But what about our subset dataframe above? It doesn't have an index 0
subset_2020.head()

In [ ]:
# Try it...
subset_2020.iloc[0]

## Series Methods

### `.value_counts()`

<div style="border: 1px solid blue; padding: 10px;">
<p><span style="font-size: 14pt; color: #e67e23;"><strong>How many</strong> different <strong>values</strong> does the Animal Type column have? What about Breed?</span></p>
</div>

In [132]:
# Check the value counts for Animal Type
jordan_df["pts"].value_counts()

29    16
35    10
33     9
28     9
31     8
38     8
39     8
27     7
32     7
26     6
22     6
36     6
30     5
37     5
34     5
23     5
25     5
24     5
46     5
44     5
42     4
45     4
21     3
40     3
55     3
18     2
48     2
47     2
20     2
50     2
19     2
49     2
41     2
15     1
63     1
56     1
43     1
54     1
17     1
Name: pts, dtype: int64

In [ ]:
# Now check Breed
df_augmented['Breed'].value_counts()

In [133]:
toy_df = pd.read_csv("data/toy_dataset.csv")

In [134]:
toy_df.describe()

              Number            Age         Income
count  150000.000000  150000.000000  150000.000000
mean    75000.500000      44.950200   91252.798273
std     43301.414527      11.572486   24989.500948
min         1.000000      25.000000    -654.000000
25%     37500.750000      35.000000   80867.750000
50%     75000.500000      45.000000   93655.000000
75%    112500.250000      55.000000  104519.000000
max    150000.000000      65.000000  177157.000000

In [140]:
toy_df.loc[toy_df["Income"] < 0].mean()

C:\Users\CoJoe\AppData\Local\Temp\ipykernel_400\2359442789.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  toy_df.loc[toy_df["Income"] < 0].mean()

Number    246.0
Age        40.0
Income   -654.0
dtype: float64

In [138]:
toy_df["Income"].value_counts()

98410.0     15
93808.0     13
94606.0     13
88730.0     12
96376.0     12
            ..
81621.0      1
117809.0     1
70702.0      1
113535.0     1
77823.0      1
Name: Income, Length: 71761, dtype: int64

<div style="border: 1px solid blue; padding: 10px;">
<p><span style="font-size: 14pt; color: #e67e23;">Sometimes, this is more useful than others... but, can check the <strong>percentage</strong> of the <strong>total,</strong> which might be more useful!</span></p>
</div>

In [141]:
toy_df["Income"].value_counts(normalize=True)

98410.0     0.000100
93808.0     0.000087
94606.0     0.000087
88730.0     0.000080
96376.0     0.000080
              ...
81621.0     0.000007
117809.0    0.000007
70702.0     0.000007
113535.0    0.000007
77823.0     0.000007
Name: Income, Length: 71761, dtype: float64

In [ ]:
# Use the normalize argument to change how the count is displayed
df_augmented['Breed'].value_counts(normalize=True)

<h3 id=".sort_values()"><code>.sort_values()</code></h3>

In [143]:
toy_df["Income"].sort_values(ascending=False)

109350    177157.0
105281    176746.0
109060    173991.0
110877    173826.0
112192    172825.0
            ...
17135       3842.0
9298        2667.0
18484       2474.0
7896         584.0
245         -654.0
Name: Income, Length: 150000, dtype: float64

<div style="border: 1px solid blue; padding: 10px;">
<p><span style="font-size: 14pt; color: #e67e23;">As you can imagine, this works <strong>differently</strong> whether you're using it on a <strong>numeric</strong> or <strong>non-numeric</strong> column</span></p>
</div>

In [ ]:
# Let's sort the year column
df_augmented['Year'].sort_values(ascending=False)

In [ ]:
# Now, sort the Animal Type col
df_augmented['Animal Type'].sort_values()

In [ ]:
# We can do this on the whole dataframe, it just needs to know what to sort by
df_augmented.sort_values(by='Animal Type',ascending=False)

<p><span style="font-size: 18pt; color: #e67e23;">More Practice?</span></p>

<img src="images/red.jfif">

Great Job... You are on your way to being Kung Foo Pandas!
<img src="images/pandas3.jpeg">

# Extra Credit: Find a .csv file online and experiment with it.

Head to [dataportals.org](https://dataportals.org) to find a .csv file.