<h1>Pandas DataFrames</h1>

![pandas](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/2880px-Pandas_logo.svg.png)

<p><img src="https://cdn-images-1.medium.com/max/1600/1*oBx032ncOwLmCFX3Epo3Zg.jpeg" alt="I have no idea what I'm doing panda" /></p>

<p><span style="font-size: 14pt; color: #e67e23;"><strong>Pandas</strong> is a <strong>Python library</strong> made for working with <strong>data</strong> that can be coerced into <strong>rows</strong> and <strong>columns</strong> (i.e. think Excel, CSVs,...).&nbsp;</span></p>
<ul>
<li><span style="font-size: 14pt; color: #e67e23;"><strong>Fast</strong> and efficient for <strong>manipulating</strong> and <strong>analyzing data.</strong></span></li>
<li><span style="font-size: 14pt; color: #e67e23;">Easy <strong>handling</strong> of <strong>missing data</strong> (represented as NaN) in floating point as well as non-floating point data</span></li>
<li><span style="font-size: 14pt; color: #e67e23;">Size mutability: <strong>columns</strong> can be <strong>inserted</strong> and <strong>deleted</strong> from <strong>DataFrame</strong> and higher dimensional objects</span></li>
<li><span style="font-size: 14pt; color: #e67e23;">Data set <strong>merging</strong> and <strong>joining</strong></span></li>
<li><span style="font-size: 14pt; color: #e67e23;">Provides <strong>time-series</strong> functionality.</span></li>
<li><span style="font-size: 14pt; color: #e67e23;">Built on <strong>top</strong> of <strong>Numpy</strong></span></li>
</ul>

<p><span style="color: #e67e23; font-size: 18.6667px;">The image below shows the steps in a Data Analytics or Data Science project</span></p>

![images/data-anl.png](images/data-anl.png)

<div style="border: 1px solid blue; padding: 10px">
<p><span style="font-size: 14pt; color: #e67e23;">As the image below shows, most of the steps can be completed using Pandas.&nbsp; For Data Science projects, Pandas outputs can be directly input to the various SKlearn and Kera libraries, though a little reshaping may be needed.&nbsp;</span></p>
</div>

<img src="images/data-anal-steps-2.jpeg"  style="width:90%;height:80%">

<img src="images/panda.jpeg" style="width:300px;height:300px">

<div style="border: 1px solid blue; padding: 10px;">
<p><span style="font-size: 14pt; color: #e67e23;">Python's <strong>Pandas</strong> is <strong>almost</strong> as <strong>good</strong> as actually having your <span style="color: #236fa1;"><em><strong>own Panda</strong></em>!</span></span></p>
<p>&nbsp;</p>
</div>

<div style="border: 1px solid blue; padding: 10px;">
<p><span style="font-size: 14pt; color: #e67e23;">Before you can <strong>use</strong> <strong>Pandas</strong>, you must <strong>install</strong> the library.&nbsp;&nbsp;</span></p>
<p><span style="font-size: 14pt; color: #e67e23;"><a href="https://pandas.pydata.org/docs/getting_started/install.html" target="_blank" rel="noopener">https://pandas.pydata.org/docs/getting_started/install.html</a></span></p>
<p><span style="font-size: 14pt; color: #e67e23;">Conda</span></p>
<p><span style="color: #e67e23;"><strong><em><span style="font-size: 14pt;">conda install pandas</span></em></strong></span></p>
<p><span style="font-size: 14pt; color: #e67e23;">Pip</span></p>
<p><span style="color: #e67e23;"><strong><em><span style="font-size: 14pt;">pip install pandas</span></em></strong></span></p>
</div>

In [2]:
# Import - using the common alias
import pandas as pd  # pd  is an alias to the panadas library and is industry standard

## Accessing Data

![pandas documentation image showcasing the kinds of data it can both read and write to](https://pandas.pydata.org/docs/_images/02_io_readwrite.svg)

[[Image Source]](https://pandas.pydata.org/docs/getting_started/intro_tutorials/02_read_write.html)

<div style="border: 1px solid blue; padding: 10px;">
<p><span style="font-size: 14pt; color: #e67e23;"><strong>Pandas</strong> can <strong>access</strong> a ton of different <strong>data types</strong>, including some that should be familiar: <strong>CSVs, JSONs </strong>and <strong>SQL</strong> database tables! That's right, no more <code>with</code> / <code>open</code> statements now that we're using pandas!</span></p>
<p><span style="font-size: 14pt; color: #e67e23;">Pandas can also <em>output</em> <strong>different</strong> data <strong>formats</strong>, including <strong>CSVs</strong> and directly to <strong>SQL tables</strong>.</span></p>
<ul>
<li><span style="font-size: 14pt; color: #e67e23;"><a style="color: #e67e23;" href="https://pandas.pydata.org/docs/reference/io.html" target="_blank" rel="noopener">https://pandas.pydata.org/docs/reference/io.html</a></span></li>
</ul>
</div>

<div style="border: 1px solid blue; padding: 10px;">
<p><span style="font-size: 14pt; color: #e67e23;">Most of the time, we'll see CS</span><span style="font-size: 14pt; color: #e67e23;">Vs - so let's&nbsp;<strong>access</strong>&nbsp;a&nbsp;<strong>'toy'</strong>&nbsp;data set quickly just to familiarize ourselves with using pandas. There's a heart dataset available in the data folder on this repository - let's read that in.</span></p>
<p><span style="font-size: 14pt; color: #e67e23;"><strong>Toy </strong>datasets are usually <strong>small</strong> <strong>datasets</strong> used for <strong>developing</strong> and testing certain <strong>coding techniques&nbsp;</strong></span></p>
</div>

In [3]:
# Use read_csv to read in the heart csv file
# Need to assign it to a variable too - let's call this heart_df
heart_df = pd.read_csv('data/heart.csv')

<div style="border: 1px solid blue; padding: 10px;">
<p><span style="font-size: 14pt; color: #e67e23;">Find out more about this dataset <a style="color: #e67e23;" href="https://archive.ics.uci.edu/ml/datasets/Statlog+%28Heart%29" target="_blank" rel="noopener">here</a>.</span></p>
</div>

<div style="border: 1px solid blue; padding: 10px;">
<p><span style="font-size: 14pt; color: #e67e23;">The <strong>output</strong> of the <code>.<strong>read_csv()</strong></code> function (and all of the .read_xxx functions)&nbsp; is a pandas <span style="color: #e03e2d;"><strong><em>&nbsp;<a href="https://www.w3schools.com/python/pandas/pandas_dataframes.asp#:~:text=What%20is%20a%20DataFrame%3F,table%20with%20rows%20and%20columns.">DataFrame</a></em></strong></span>, which has a familiar tabaular structure of <strong>rows</strong> and <strong>columns</strong>.</span></p>
<p><span style="font-size: 14pt; color: #e67e23;">In the case above, we have captured the returned dataframe and stored it in variable <em>heart_df</em></span></p>
</div>

<h2>.head()</h2>

<div style="border: 1px solid blue; padding: 10px">
<p><span style="color: #e67e23;">The</span><span style="font-size: 18.6667px;">&nbsp;</span><a style="font-size: 18.6667px;" href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html" target="_blank" rel="noopener">.head()</a><span style="font-size: 18.6667px;">&nbsp;</span><span style="color: #e67e23;">function</span><span style="font-size: 18.6667px;">&nbsp;</span><span style="color: #e67e23;">displays the first 5 rows of the dataframe.&nbsp; You can input an argument to display more rows.&nbsp; .head(10) will display the first 10 rows.</span></p>
</div>

In [5]:
# Let's check this variable out
heart_df.head()

   age  sex  chol  slope  target
0   37    1   250      0       1
1   41    0   204      2       1
2   56    1   236      2       1
3   57    0   354      2       1
4   57    1   192      1       1

In [ ]:
# you turn.... print the first 20 rows

In [7]:
# What type is this variable?
type(heart_df)

pandas.core.frame.DataFrame

<h2>DataFrames and Series</h2>

<div style="border: 1px solid blue; padding: 10px;">
<p><span style="font-size: 14pt; color: #e67e23;">Two <strong>main</strong> types of <strong>pandas</strong> <strong>objects</strong> are the <strong>DataFrame</strong> and the <a href="https://www.w3schools.com/python/pandas/pandas_series.asp" target="_blank" rel="noopener"><strong>Series</strong></a>, the latter being in effect a single column of the former:</span></p>
</div>

<img src="images/df-1.png">

<div style="border: 1px solid blue; padding: 10px;">
<p><span style="font-size: 14pt; color: #e67e23;">The individual <strong>columns</strong> are Pandas Data <strong>Series</strong>. Each <strong>row</strong> has an indentifier, similar to the column names, which is called the <a href="https://pandas.pydata.org/docs/user_guide/indexing.html" target="_blank" rel="noopener">index</a> and can be used to <strong>identify</strong> each <strong>row</strong>.</span></p>
<p><span style="font-size: 14pt; color: #e67e23;">Note indexes will be discussed more later.</span></p>
</div>

<div style="border: 1px solid blue; padding: 10px">
<p><span style="font-size: 14pt; color: #e67e23;">Notice how we can <strong>isolate</strong> a <strong>column</strong> of our DataFrame simply by using <strong>square brackets</strong> together with the <strong>name</strong> of the <strong>column.</strong> </span></p>
<p><span style="font-size: 14pt; color: #e67e23;">We can also access columns as an <strong>attribute</strong> of the <strong>DataFrame</strong> - but that only works if the name of the column <strong>doesn't have any spaces</strong> or weird characters!</span></p>
</div>

In [4]:
# prefered method
print(heart_df["age"])

# attribute method... I suggest not using this method!   
print(heart_df.age)

0      37
1      41
2      56
3      57
4      57
       ..
297    57
298    45
299    68
300    57
301    57
Name: age, Length: 302, dtype: int64
0      37
1      41
2      56
3      57
4      57
       ..
297    57
298    45
299    68
300    57
301    57
Name: age, Length: 302, dtype: int64

## Basic DataFrame Attributes and Methods

<p><span style="font-size: 14pt; color: #e67e23;"><strong>Dataframes</strong> have <strong>attributes</strong> and <strong>methods</strong>, both of which can be <strong>very</strong> <strong>useful</strong>.&nbsp;</span></p>
<p><span style="font-size: 14pt; color: #e67e23;"><span style="color: #e03e2d;"><strong>Attributes</strong></span> are <strong>characteristics</strong> or <strong>properties</strong> that describe the <strong>contents</strong> of the <strong>dataframe</strong>.</span></p>
<p><span style="font-size: 14pt; color: #e67e23;"><span style="background-color: #e03e2d;"><strong>Methods</strong></span> are <strong>functions</strong> that perform some sort of <strong>action</strong> on the <strong>dataframe</strong> or individual <strong>series</strong>, like <strong>computing</strong> a mean or max for the <strong>values</strong> in a <strong>column.</strong>&nbsp;</span></p>
<p><span style="font-size: 14pt; color: #e67e23;">A listting of the various attributes and methods can be found <a style="color: #e67e23;" href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html" target="_blank" rel="noopener">https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html</a></span></p>

<img src="images/attmeth.png" style="height:70%">

<h3 id=".head()-:-first-5-rows"><code>.head()</code> : first 5 rows</h3>
<p><span style="font-size: 14pt;">or&nbsp;</span></p>
<p><span style="font-size: 14pt;">.head(n) will print the first n rows (i.e. .head(100) will print the first 100 rows</span></p>

In [18]:
heart_df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

<h3 id=".tail()-:-last-5-rows"><code>.tail()</code> : last 5 rows&nbsp;</h3>
<p>or&nbsp;</p>
<p>.tail(n) will print the last n rows</p>

In [21]:
heart_df.tail(0)

Empty DataFrame
Columns: [age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpeak, slope, ca, thal, target]
Index: []

### `.info()` : information about the columns, including about nulls in those columns

In [22]:
heart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

### `.describe()` : statistics about the data

In [5]:
heart_df.describe()

              age         sex        chol       slope      target
count  302.000000  302.000000  302.000000  302.000000  302.000000
mean    54.337748    0.682119  246.307947    1.403974    0.543046
std      9.083509    0.466426   51.911129    0.611939    0.498970
min     29.000000    0.000000  126.000000    0.000000    0.000000
25%     47.250000    0.000000  211.000000    1.000000    0.000000
50%     55.000000    1.000000  240.500000    1.000000    1.000000
75%     61.000000    1.000000  274.750000    2.000000    1.000000
max     77.000000    1.000000  564.000000    2.000000    1.000000

### `.dtypes` : data types of each column

In [27]:
heart_df.dtypes
#print(heart_df.info())

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

### `.shape` : number of rows and columns

In [28]:
heart_df.shape

(303, 14)

In [29]:
(nrows,ncols) = heart_df.shape
#print(nrows,ncols)
len(heart_df) # Not Recommended

303 14

303

<img src="images/oven.jfif">

## Statistics

<div style="border: 1px solid blue; padding: 10px;">
<p><span style="font-size: 14pt; color: #e67e23;">We saw some <strong>statistics</strong> <strong>computed</strong> above, in the <strong>.describe()</strong>, but we can also <strong>calculate</strong> statistics by calling them <strong>individually</strong></span></p>
<p><span style="color: #e67e23;"><span style="font-size: 18.6667px;"><strong>Here are the Pandas Stats functions</strong></span></span></p>
<p><span style="color: #e67e23;"><span style="font-size: 18.6667px;"><strong>count()<span style="white-space: pre;"> </span></strong>Number of non-null observations</span></span>
<br>
<span style="color: #e67e23;"><span style="font-size: 18.6667px;"><strong>sum()<span style="white-space: pre;"> </span></strong>Sum of values</span></span>
<br>
<span style="color: #e67e23;"><span style="font-size: 18.6667px;"><strong>mean()<span style="white-space: pre;"> </span></strong>Mean of Values</span></span>
<br>
<span style="color: #e67e23;"><span style="font-size: 18.6667px;"><strong>median()<span style="white-space: pre;"> </span></strong>Median of Values</span></span>
<br>
<span style="color: #e67e23;"><span style="font-size: 18.6667px;"><strong>mode()<span style="white-space: pre;"> </span></strong>Mode of values</span></span>
<br>
<span style="color: #e67e23;"><span style="font-size: 18.6667px;"><strong>std()<span style="white-space: pre;"> </span></strong>Standard Deviation of the Values</span></span>
<br>
<span style="color: #e67e23;"><span style="font-size: 18.6667px;"><strong>min()<span style="white-space: pre;"> </span></strong>Minimum Value</span></span>
<br>
<span style="color: #e67e23;"><span style="font-size: 18.6667px;"><strong>max()<span style="white-space: pre;"> </span></strong>Maximum Value</span></span>
<br>
<span style="color: #e67e23;"><span style="font-size: 18.6667px;"><strong>abs()<span style="white-space: pre;"> </span></strong>Absolute Value</span></span>
<br>
<span style="color: #e67e23;"><span style="font-size: 18.6667px;"><strong>prod()<span style="white-space: pre;"> </span></strong>Product of Values</span></span>
<br>
<span style="color: #e67e23;"><span style="font-size: 18.6667px;"><strong>cumsum()<span style="white-space: pre;"> </span>
</strong>Cumulative Sum</span></span>
<br>
<span style="color: #e67e23;"><span style="font-size: 18.6667px;"><strong>cumprod()<span style="white-space: pre;"> </span></strong>Cumulative Product</span></span>
</div>

In [6]:
# Calculate the mean age, capture it in a variable
mean_age = heart_df["age"].mean()
print(mean_age)

54.33774834437086

In [7]:
# Now the min age
age_min = heart_df["age"].min()
age_min

29

In [8]:
# Lets compute the max for all the columns in the dataframe
heart_df.max()

age        77
sex         1
chol      564
slope       2
target      1
dtype: int64

In [ ]:
## YOUR TURN
## Get the mean,min,max,median, sum and standard deviation for the heart_df dataframe for the "age" 
## column and "chol" column

## Do work below here ... reference the list of methods given above

<div style="border: 1px solid blue; padding: 10px;">
<p><span style="font-size: 14pt; color: #e67e23;">Two things to note from the preceding examples.&nbsp; First, you can call <strong>stats functions</strong> on an <strong>individual column</strong> or the <strong>entire dataframe.</strong>&nbsp;</span></p>
<p><span style="font-size: 14pt; color: #e67e23;">Second, note when calling on <strong>all</strong> columns, for functions that <strong>require numbers,</strong> stats will only be computed for <strong>columns</strong> that <strong>are numbers.</strong>&nbsp;</span></p>
<p><span style="font-size: 14pt; color: #e67e23;"><strong>Major note</strong>: When reading in data, Pandas <strong>guesses</strong> at the <strong>data type</strong>, and is usually <strong>correct</strong>, however, at times, it can set a column full of <strong>numbers</strong> to an <strong>object</strong> or <strong>string</strong>, and then will <strong>not</strong> <strong>compute</strong> <strong>stats</strong> for it.&nbsp; In these cases, if the <strong>column</strong> really is <strong>numbers</strong>, you will need to <strong>convert</strong> the column to a float or int using <strong><a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.astype.html">.astype()</a></strong></span></p>
</div>

In [9]:
# What type is the column?
type(heart_df["age"])

pandas.core.series.Series

Both Series and DataFrames have an *index* as well:

In [10]:
# Lets see the index for the entire DataFrame
heart_df.index

RangeIndex(start=0, stop=302, step=1)

In [11]:
# Get the index for an individual Series (column)
heart_df["age"].index

RangeIndex(start=0, stop=302, step=1)

<div style="border: 1px solid blue; padding: 10px;"><span style="color: #e67e23;"><strong>DataFrames</strong> have <strong>columns</strong> - but a <strong>Series</strong> is just a single column, so it <strong>does not</strong> have the <strong>columns</strong> attribute</span>.</div>

In [13]:
heart_df.columns  # Dataframes have columns

Index(['age', 'sex', 'chol', 'slope', 'target'], dtype='object')

In [14]:
heart_df["sex"].columns  # But, Series DO NOT
# This will throw an error!

AttributeError: 'Series' object has no attribute 'columns'

<div style="border: 1px solid blue; padding: 10px;"><span style="font-size: 14pt; color: #e67e23;"><strong>Pandas</strong> is built on top of <strong>NumPy,</strong> and we can always access the <strong>NumPy array</strong> underlying a DataFrame using the <strong>.values</strong> <strong>attribute</strong></span></div>

In [15]:
# access ALL the values inthe dataframe
heart_df.values

array([[63.,  1.,  3., ...,  0.,  1.,  1.],
       [37.,  1.,  2., ...,  0.,  2.,  1.],
       [41.,  0.,  1., ...,  0.,  2.,  1.],
       ...,
       [68.,  1.,  0., ...,  2.,  3.,  0.],
       [57.,  1.,  0., ...,  1.,  3.,  0.],
       [57.,  0.,  1., ...,  1.,  2.,  0.]])

In [15]:
# Access just one column
heart_df["chol"].values   # very useful!!

array([250, 204, 236, 354, 192, 294, 263, 199, 168, 239, 275, 266, 211,
       283, 219, 340, 226, 247, 239, 234, 233, 226, 243, 199, 302, 212,
       175, 417, 197, 198, 177, 219, 273, 213, 177, 304, 232, 269, 360,
       308, 245, 208, 264, 321, 325, 235, 257, 216, 234, 256, 302, 231,
       141, 252, 201, 222, 260, 182, 303, 265, 309, 186, 203, 211, 183,
       222, 234, 220, 209, 258, 227, 204, 261, 213, 250, 245, 221, 205,
       240, 250, 308, 318, 298, 265, 564, 277, 197, 214, 248, 255, 207,
       223, 288, 160, 226, 394, 233, 315, 246, 244, 270, 195, 240, 196,
       211, 234, 236, 244, 254, 325, 126, 313, 211, 262, 215, 214, 193,
       204, 243, 303, 271, 268, 267, 199, 210, 204, 277, 196, 269, 201,
       271, 295, 235, 306, 269, 178, 208, 201, 263, 295, 303, 209, 223,
       197, 245, 242, 240, 226, 180, 228, 149, 227, 278, 220, 197, 253,
       192, 220, 221, 240, 342, 157, 175, 175, 286, 229, 268, 254, 203,
       256, 229, 284, 224, 206, 167, 230, 335, 177, 276, 353, 225, 330,
       230, 243, 290, 253, 266, 233, 172, 305, 216, 188, 282, 185, 326,
       231, 254, 267, 248, 197, 258, 270, 274, 164, 255, 239, 258, 188,
       177, 229, 260, 219, 307, 249, 341, 263, 330, 254, 256, 407, 217,
       282, 288, 239, 174, 281, 198, 288, 309, 243, 289, 289, 246, 322,
       299, 300, 293, 304, 282, 269, 249, 212, 274, 184, 274, 409, 246,
       283, 254, 298, 247, 294, 299, 273, 309, 259, 200, 244, 231, 228,
       230, 282, 269, 206, 212, 327, 149, 286, 283, 249, 234, 237, 234,
       275, 212, 218, 261, 319, 166, 315, 204, 218, 223, 207, 311, 204,
       232, 335, 205, 203, 318, 225, 212, 169, 187, 197, 176, 241, 264,
       193, 131, 236], dtype=int64)

## Enough With The Small Stuff - Bring On Real Data!

Let's access an open data portal and get some real live data!

Austin Animal Center Intake Data: https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm/

In [44]:
# Accessing a CSV from a URL!
intakes_url = pd.read_csv('https://data.austintexas.gov/resource/wter-evkm.csv')
#intakes_url.head()

In [37]:
# Same as the JSON output from this API endpoint, but different levels of detail for dates!
pd.read_json('https://data.austintexas.gov/resource/wter-evkm.json').head()

,animal_id,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,name
0,A868952,2022-11-10 15:30:00,2022-11-10T15:30:00.000,Austin (TX),Owner Surrender,Normal,Cat,Unknown,1 month,Siamese,Seal Point,NaN
1,A868950,2022-11-10 15:30:00,2022-11-10T15:30:00.000,Austin (TX),Owner Surrender,Normal,Cat,Intact Female,2 years,Siamese,Seal Point,NaN
2,A868953,2022-11-10 15:30:00,2022-11-10T15:30:00.000,Austin (TX),Owner Surrender,Normal,Cat,Unknown,1 month,Siamese,Lilac Point,NaN
3,A868954,2022-11-10 15:30:00,2022-11-10T15:30:00.000,Austin (TX),Owner Surrender,Normal,Cat,Unknown,1 month,Domestic Shorthair,Black,NaN
4,A868951,2022-11-10 15:30:00,2022-11-10T15:30:00.000,Austin (TX),Owner Surrender,Normal,Cat,Unknown,1 month,Siamese,Seal Point,NaN

In [38]:
# But this is only 1000 rows... website says there's 136K rows!
intakes_url.shape

(1000, 12)

In [46]:
# It's a limitation of the API - let's just download the data instead
# It's in the data folder
df = pd.read_csv('data/Austin_Animal_Center_Intakes-clean-year.csv')

In [47]:
# Now let's explore those earlier attributes and methods on this dataset!
# Check the first 5 rows

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [48]:
# Check the last 5 rows

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
136758,A852238,A852238,2022-02-28 14:02:00,2022,Cameron And Crosspark Drive in Austin (TX),Stray,Normal,Dog,Intact Female,6 months,Labrador Retriever Mix,Black/White
136759,A852221,Coco,2022-02-28 11:05:00,2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White
136760,A851977,*Jack,2022-02-22 13:34:00,2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White
136761,A852127,Sonic,2022-02-25 13:05:00,2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow
136762,A852194,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream

In [49]:
# Check the shape

(136763, 12)

In [50]:
# Check the datatypes

Animal ID           object
Name                object
DateTime            object
Year                 int64
Found Location      object
Intake Type         object
Intake Condition    object
Animal Type         object
Sex upon Intake     object
Age upon Intake     object
Breed               object
Color               object
dtype: object

In [51]:
# Check more general information on the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136763 entries, 0 to 136762
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         136763 non-null  object
 1   Name              95772 non-null   object
 2   DateTime          136763 non-null  object
 3   Year              136763 non-null  int64
 4   Found Location    136763 non-null  object
 5   Intake Type       136763 non-null  object
 6   Intake Condition  136763 non-null  object
 7   Animal Type       136763 non-null  object
 8   Sex upon Intake   136762 non-null  object
 9   Age upon Intake   136763 non-null  object
 10  Breed             136763 non-null  object
 11  Color             136763 non-null  object
dtypes: int64(1), object(11)
memory usage: 12.5+ MB

In [52]:
# Check summary/descriptive statistics on the dataframe

                Year
count  136763.000000
mean     2017.100692
std         2.328994
min      2013.000000
25%      2015.000000
50%      2017.000000
75%      2019.000000
max      2022.000000

#### Any Observations?

- Just shows the 'Year' column - it's the only numeric column!

In [16]:
# We can run describe on just the string columns! Gives a different kind of output
df.describe(include=[object])

NameError: name 'df' is not defined

#### Any Observations?

- Can see non-null counts, number of uniques, plus the most frequent and how frequent it is
- Showcases the different kind of useful data you can explore when it's object vs numeric columns

## Adding to a DataFrame

### Adding Rows

We have a new animal coming in, captured here in a Python dictionary:

In [55]:
# Dictionary, where keys match the column names and values are the row values
# Note that the values are list-like - you could easily add more rows by adding to the lists!
next_row = {
    'Animal ID': ['A851755'],
    'Name': ["T'Challa"],
    'DateTime': ['2/28/2022 11:25:00 AM'],
    'Year': [2022],
    'Found Location': ['Houston (TX)'],
    'Intake Type': ['Public Assist'],
    'Intake Condition': ['Normal'],
    'Animal Type': ['Cat'],
    'Sex upon Intake': ['Neutered Male'],
    'Age upon Intake': ['4 years'],
    'Breed': ['Domestic Shorthair'],
    'Color': ['Black']
}
next_row

{'Animal ID': ['A851755'],
 'Name': ["T'Challa"],
 'DateTime': ['2/28/2022 11:25:00 AM'],
 'Year': [2022],
 'Found Location': ['Houston (TX)'],
 'Intake Type': ['Public Assist'],
 'Intake Condition': ['Normal'],
 'Animal Type': ['Cat'],
 'Sex upon Intake': ['Neutered Male'],
 'Age upon Intake': ['4 years'],
 'Breed': ['Domestic Shorthair'],
 'Color': ['Black']}

How can we add this to the bottom of our dataset?

In [56]:
# Let's first turn this into a DataFrame.
# We can use the .from_dict() method.

new_animal = pd.DataFrame.from_dict(next_row)
new_animal

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A851755,T'Challa,2/28/2022 11:25:00 AM,2022,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black

In [57]:
# Now we just need to concatenate the two DataFrames together.
# Note the `ignore_index` parameter! We'll set that to True.

df_augmented = pd.concat([df, new_animal],
                         ignore_index=True)

In [58]:
# Let's check the end to make sure we were successful!
df_augmented.tail()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
136759,A852221,Coco,2022-02-28 11:05:00,2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White
136760,A851977,*Jack,2022-02-22 13:34:00,2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White
136761,A852127,Sonic,2022-02-25 13:05:00,2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow
136762,A852194,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream
136763,A851755,T'Challa,2/28/2022 11:25:00 AM,2022,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black

### Adding (and Deleting) Columns

Adding a column is very easy in `pandas`. Let's add a new column to our dataset called "test", and set all of its values to 0.

In [62]:
df_augmented.head()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [63]:
# Create a new column, 'test', where every value in the col is 0
df_augmented['test'] = None

In [64]:
# Sanity check
df_augmented.head()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,test
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,None
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,None
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,None
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,None
4,A682524,Rio,2014-06-29 10:38:00,2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,None

But we don't need that - let's drop that column.

In [65]:
# Drop that test column
df_augmented = df_augmented.drop(columns=['test'])

In [66]:
# Sanity check
df_augmented.head()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

We can also do math with columns, or use mathematical notation to combine columns even when they aren't numerical!

We don't have any numeric data in this current dataset. But we can still create a combined "Type" column that combines the values of our Intake Type and Animal Type columns.

In [67]:
# Create a new column, 'Type', from the two 'Type' columns
df_augmented['Type'] = df_augmented['Intake Type'] + " " + df_augmented['Animal Type']

In [68]:
# Sanity check 
df_augmented.head()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,Stray Dog
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,Stray Dog
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,Stray Dog
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,Stray Cat
4,A682524,Rio,2014-06-29 10:38:00,2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,Stray Dog

## Filtering

We can use filtering techniques to see only certain rows of our data. Let's look at only animals taken into the center during or after 2020:

In [69]:
# Check which rows have an intake year greater than or equal to 2020
df_augmented['Year'] >= 2020

0         False
1         False
2         False
3         False
4         False
          ...
136759     True
136760     True
136761     True
136762     True
136763     True
Name: Year, Length: 136764, dtype: bool

In [70]:
# Let's explore an interesting property of boolean columns...
# Find out the total sum of animals taken in during or after 2020
sum(df_augmented['Year'] >= 2020)

23270

But this only gives us True/False outputs... what if we want to really filter?

### `.loc`

We can locate and segment down to only rows where some condition is true using `.loc`. This takes in a condition, and only outputs the rows where that condition is True! 

> **Note:** locate (`.loc`) uses square brackets, not parentheses! Often, square brackets denote location-focused actions, like this one.

- df.loc[row,[columns]]

Let's try this first with the condition we just built, and locate all animals taken in during or after 2020.

In [71]:
# Create a subset dataframe of animals taken in during or after 2020
subset_2020 = df_augmented.loc[df_augmented['Year'] >= 2020]

In [75]:
subset_2020.shape
subset_2020.head()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
7,A844350,*Ella,2021-10-15 11:40:00,2021,2112 East William Cannon Drive in Austin (TX),Stray,Normal,Cat,Intact Female,6 months,Domestic Shorthair,Brown Tabby,Stray Cat
9,A818975,NaN,2020-06-18 14:53:00,2020,Braker Lane And Metric in Travis (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Cream Tabby,Stray Cat
22,A831808,NaN,2021-04-02 11:16:00,2021,Austin (TX),Owner Surrender,Normal,Cat,Intact Female,1 month,Domestic Shorthair Mix,Tortie,Owner Surrender Cat
24,A836850,NaN,2021-06-15 12:37:00,2021,6111 Softwood Drive in Austin (TX),Public Assist,Pregnant,Dog,Intact Female,4 years,Pit Bull,Blue/White,Public Assist Dog
26,A815227,Baby,2020-03-12 13:52:00,2020,12305 Zeller Lane in Austin (TX),Stray,Normal,Dog,Intact Female,1 month,Norfolk Terrier,Brown/Cream,Stray Dog

We can return only certain columns when we do this, by adding an argument after the condition:

In [74]:
# Let's return just the 'Animal ID', 'DateTime' and 'Type' columns
df_augmented.loc[df_augmented['Year'] >= 2020, ['Animal ID', 'DateTime', 'Type']]

# df.loc[row,[columns]]

       Animal ID               DateTime                 Type
7        A844350    2021-10-15 11:40:00            Stray Cat
9        A818975    2020-06-18 14:53:00            Stray Cat
22       A831808    2021-04-02 11:16:00  Owner Surrender Cat
24       A836850    2021-06-15 12:37:00    Public Assist Dog
26       A815227    2020-03-12 13:52:00            Stray Dog
...          ...                    ...                  ...
136759   A852221    2022-02-28 11:05:00            Stray Dog
136760   A851977    2022-02-22 13:34:00            Stray Dog
136761   A852127    2022-02-25 13:05:00            Stray Dog
136762   A852194    2022-02-27 13:44:00            Stray Dog
136763   A851755  2/28/2022 11:25:00 AM    Public Assist Cat

[23270 rows x 3 columns]

What if I want to segment using multiple conditions? Use `&` for "and" and `|` for "or" - and use parentheses around individual conditions!

In [76]:
# Find all the Stray Cats taken in during or after 2020
df_augmented.loc[(df_augmented['Year'] >= 2020) & (df_augmented['Type'] == 'Stray Cat'),["Year","Type"]]

        Year       Type
7       2021  Stray Cat
9       2020  Stray Cat
44      2020  Stray Cat
123     2020  Stray Cat
128     2021  Stray Cat
...      ...        ...
136734  2022  Stray Cat
136746  2022  Stray Cat
136750  2022  Stray Cat
136754  2022  Stray Cat
136757  2022  Stray Cat

[6204 rows x 2 columns]

## Your turn!

### Exercise 1

You need to find dogs that need extra attention - How would you find all dogs where the intake condition is NOT normal?

In [ ]:
# Your code here

### Exercise 2

You need to find animals that might need to be fixed - How would you find all animals that are either Intact Male or Intact Female?

In [ ]:
# Your code here

### `.iloc`

`.iloc` is used for integer-location based indexing, aka locate by number. It can take in lists of numbers, python slices, or specific numbers - but sometimes it can be a bit tricky!

In [ ]:
# Find the first 3 rows
df_augmented.iloc[:3]

In [ ]:
# Same as using head(3)
df_augmented.head(3)

In [ ]:
# Can look exactly where the 0 index is
df_augmented.iloc[0]

In [ ]:
# But what about our subset dataframe above? It doesn't have an index 0
subset_2020.head()

In [ ]:
# Try it...
subset_2020.iloc[0]

## Series Methods

### `.value_counts()`

How many different values does the Animal Type column have? What about Breed?

In [77]:
# Check the value counts for Animal Type
df_augmented['Animal Type'].value_counts()

Dog          77098
Cat          51753
Other         7253
Bird           636
Livestock       24
Name: Animal Type, dtype: int64

In [78]:
# Now check Breed
df_augmented['Breed'].value_counts()

Domestic Shorthair Mix                       32034
Domestic Shorthair                           10441
Pit Bull Mix                                  8913
Labrador Retriever Mix                        7370
Chihuahua Shorthair Mix                       6486
                                             ...
Welsh Springer Spaniel/Labrador Retriever        1
Greater Swiss Mountain Dog                       1
Miniature Poodle/Pomeranian                      1
German Shepherd/Queensland Heeler                1
Brittany/St. Bernard Smooth Coat                 1
Name: Breed, Length: 2734, dtype: int64

Sometimes, this is more useful than others... but, can check the percentage of the total, which might be more useful!

In [79]:
# Use the normalize argument to change how the count is displayed
df_augmented['Breed'].value_counts(normalize=True)

Domestic Shorthair Mix                       0.234228
Domestic Shorthair                           0.076343
Pit Bull Mix                                 0.065171
Labrador Retriever Mix                       0.053888
Chihuahua Shorthair Mix                      0.047425
                                               ...
Welsh Springer Spaniel/Labrador Retriever    0.000007
Greater Swiss Mountain Dog                   0.000007
Miniature Poodle/Pomeranian                  0.000007
German Shepherd/Queensland Heeler            0.000007
Brittany/St. Bernard Smooth Coat             0.000007
Name: Breed, Length: 2734, dtype: float64

### `.sort_values()`

As you can imagine, this works differently whether you're using it on a numeric or non-numeric column

In [81]:
# Let's sort the year column
df_augmented['Year'].sort_values(ascending=False)

136763    2022
135598    2022
135600    2022
135601    2022
135603    2022
          ...
114540    2013
7568      2013
6328      2013
114531    2013
96175     2013
Name: Year, Length: 136764, dtype: int64

In [82]:
# Now, sort the Animal Type col
df_augmented['Animal Type'].sort_values()

4867       Bird
96361      Bird
15477      Bird
3791       Bird
34239      Bird
          ...
59440     Other
106179    Other
15456     Other
46896     Other
37968     Other
Name: Animal Type, Length: 136764, dtype: object

In [83]:
# We can do this on the whole dataframe, it just needs to know what to sort by
df_augmented.sort_values(by='Animal Type',ascending=False)

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
84730,A721703,NaN,2016-03-02 15:25:00,2016,5901 Southwest Pkwy in Austin (TX),Wildlife,Normal,Other,Unknown,1 year,Bat Mix,Brown,Wildlife Other
19665,A814692,NaN,2020-03-03 22:54:00,2020,3351 Killingsworth Ln in Pflugerville (TX),Wildlife,Injured,Other,Unknown,1 year,Bat,Brown,Wildlife Other
8211,A678622,NaN,2014-05-10 18:55:00,2014,Riverside And Grove in Austin (TX),Stray,Injured,Other,Unknown,1 year,Rabbit Sh Mix,Gray/White,Stray Other
77281,A840507,*Siouxsie Sioux,2021-08-09 16:03:00,2021,Austin (TX),Owner Surrender,Normal,Other,Intact Female,5 months,Mouse,White/Black,Owner Surrender Other
8217,A749933,NaN,2017-05-21 14:46:00,2017,11500 Jollyville Rd in Austin (TX),Wildlife,Injured,Other,Unknown,1 year,Fox,Brown/White,Wildlife Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...
75600,A757067,NaN,2017-08-29 14:56:00,2017,7201 Levander Loop in Austin (TX),Wildlife,Injured,Bird,Unknown,2 years,Grackle Mix,Black,Wildlife Bird
68935,A839271,NaN,2021-07-19 15:05:00,2021,Highway 183 And Smith Road in Austin (TX),Stray,Normal,Bird,Intact Female,1 year,Chicken,Brown,Stray Bird
5478,A770409,NaN,2018-04-19 13:59:00,2018,8800 S 1St St in Austin (TX),Wildlife,Injured,Bird,Unknown,2 years,Vulture Mix,Brown,Wildlife Bird
66611,A715668,NaN,2015-11-07 17:14:00,2015,830 Bastrop Hwy in Austin (TX),Wildlife,Injured,Bird,Unknown,2 years,Pigeon Mix,Gray,Wildlife Bird
6992,A779661,NaN,2018-09-04 13:02:00,2018,107 E Brenham St in Manor (TX),Public Assist,Normal,Bird,Intact Male,1 year,Chicken,Red/Black,Public Assist Bird

<img src="images/red.jfif">

Great Job... You are on your way to being Kung Foo Pandas!
<img src="images/pandas3.jpeg">

# Extra Credit: Find a .csv file online and experiment with it.

Head to [dataportals.org](https://dataportals.org) to find a .csv file.